/*body*/
body {
  background-color: rgb(66, 66, 71);
}

.apps {
  background-color: rgb(73, 73, 233);
  color: white;
}

.apps-header {
  background-color: rgb(32, 28, 28);
  list-style-type: none;
  padding-top: 3.5em;
  padding-bottom: 2em;
  text-align: center;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  padding-right: 0em;
  width: 100vw;
}

.apps-header h1 {
  font-size: 3em;
  text-align: center;
}

.jt-li {
  background-color: rgb(49, 46, 46);
  list-style-type: none;
  padding-top: 3.5em;
  padding-bottom: 2em;
  display: inline-block;
  margin-left: -3em;
  margin-right: 0em;
  padding-left: 0em;
  width: 100vw;
}

.apps h1 {
  color: gold;
}

.pm-li {
  background-color: rgb(27, 66, 24);
  list-style-type: none;
  padding-top: 3.5em;
  padding-bottom: 2em;
  width: 100vw;
  display: inline-block;
  margin-left: -3em;
  margin-right: 0em;
  padding-left: 0em;
  width: 100vw;
}

.apps-header p {
  font-size: 2em;
  margin-top: -0.5em;
}

.apps-jobtrade {
  margin-top: 3em;
}

.apps-jobtrade h1 {
  margin-right: 5.5em;
  margin-top: 1em;
  float: right;
}

.apps-jobtrade p {
  float: right;
  margin-top: 7em;

  margin-right: -16em;
}

.apps-jobtrade img {
  width: 15em;
  height: 15em;
  margin-left: -11em;
  border-radius: 2em;
}

.apps-blockstar {
  margin-top: 4em;
}

.apps-blockstar h1 {
  margin-right: 5.5em;
  margin-top: 1em;
  float: right;
}

.apps-blockstar p {
  float: right;
  margin-top: 7em;
  margin-right: -14em;
}

.apps-blockstar img {
  width: 15em;
  height: 15em;
  border-radius: 2em;
  margin-left: -12em;
}

.apps-donate {
  margin-bottom: -1em;
  margin-top: 0em;
  background-color: rgb(153, 12, 12);
  padding-top: 3em;
  padding-bottom: 5em;
  display: inline-block;
  text-align: center;
  margin-top: 0em;
  margin-left: -2.9em;
  margin-right: 3em;
  padding-left: 0em;
  padding-right: 0.5em;
  width: 100vw;
}

.donate-btn {
  width: 8em;
  height: 4em;
  padding: 1em;
  margin-top: 3em;
  border-radius: 1em;
  background-color: green;
  color: white;
}

@media (max-width: 750px) {
  .apps-blockstar img {
    width: 2em;
  }
}

@media (max-width: 980px) {
  .apps-blockstar img {
    margin-left: 6.5em;
    width: 7em;
    height: 7em;
  }
  .apps-jobtrade img {
    margin-left: 7em;
    width: 7em;
    height: 7em;
  }
}

.apps ul {
  list-style-type: none;
}

.apps img {
  border-radius: 1em;
  margin-bottom: 2em;
  width: 10em;
  height: 10em;
}
