.app-footer {
  list-style-type: none;
  margin: auto;
  background-color: #050a05;
  position: bottom;
  display: inline-block;
  margin-left: -1em;
  padding-right: 5em;
}

.footer-item p {
  color: white;
}

.footer-menu {
  display: inline;
  position: row;
  color: white;
}

.footer-menu li {
  display: inline-block;
  margin-top: 0.5em;
}

.f-btn {
  width: 3em;
  height: 1em;
  border-radius: 0.5em;
  background-color: rgb(255, 255, 255, 0.05);
}

.footer-button {
  margin-top: 1em;
}

.show-form {
  margin-top: -1em;
}

.email {
  margin-bottom: 1.5em;
}

.f-coins {
  text-decoration: none;
  color: gold;
  margin-right: 1.5em;
}

@media (max-width: 480px) {
  .footer-menu {
  }
}

@media (max-width: 599px) {
  .footer-menu {
    margin-left: 0em;
  }
  .f-btn {
    margin-left: -1em;
  }
}

@media (min-width: 600px) {
  .footer-menu {
    margin-left: 3em;
  }
  .f-btn {
    margin-left: -4em;
  }
}
