.products-enter {
    opacity: 0.01;
  }
  
  .products-enter.products-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .products-leave {
    opacity: 1;
  }
  
  .products-leave.products-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
  }

/* 
  .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    transition: all .4s ease;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    transition: all .4s ease;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: yellow !important;
}
.plus:hover{
    background-color: yellow !important;
}

span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}   */